:root {
    --grid-rows: 16;
    --grid-columns: 16;
    --pen-color:grey;
}

.container {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    border: 5px solid #333;
    border-radius: 20px;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    grid-gap: 0;
    background-color: #fff;
    box-shadow: inset 1px 1px 20px 10px rgba(0, 0, 0, .25);
    margin-bottom: 15px;
}

.leftMargin10 {
    margin-left: 10px;
}

.grid-element {
    margin: 0;
    padding: 0;
    border: groove;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 50px;
}

.draw {
    background-color: var(--pen-color);
}
